body{
	margin: 0%;
	padding: 0%;
	background: url("../media/15-Presentation-Background-Examples16.jpeg")no-repeat center fixed;
	background-size: cover;
}
/*définition des propriétés du menu */
header{
	background-color: white;
}
nav{
	width: 100%;
	background-color: #424558;
}
nav ul{
	padding: 0%;
	margin: 0%;
	overflow: hidden;
}
nav li{
	list-style-type: none;
	float: left;
}
nav li a{
	display: inline-block;
	text-decoration: none;
	padding: 20px 30px;
	color: #ffffff;
}
nav li :hover{
	border-top: 5px solid #C17243;
	background-color: rgba(193, 114, 67, 0.15) ;
}
header h1{
	font-size: 2em;
	float: right;
	text-align: right;
	margin: 0%;
	padding: 0%;
	padding-right: 1%; 
	padding-top: 1%; 
	display: inline-block;
}
.texthead{
 	font-family:Helvetica,  sans-serif;
}
.logo{
	display: inline-block;
	width: 7em;
	height:auto;
	margin: 0.5em;
	margin-bottom: 0.3em;
}
.text{
	font-family:'Roboto',sans-serif;
}
.display{
	display: flex;
	flex-basis: 100%;
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	flex-wrap: wrap;
}
.art1{
	background-color: grey;
	flex-basis: 20%;
	margin: 0.2%;
}
.art2{
	background-color: green;
	margin: 0.2%;
}
.art3{
	background-color: yellow;
	flex-basis: 20%;
	margin: 0.2%;
}
.art4{
	background-color: darkred;
	flex-basis: 20%;
	margin: 0.2%;
}
.art5{
	background-color: pink;
	flex-basis: 20%;
	margin: 0.2%;
}
.art6{
	background-color: blue;
	flex-basis: 20%;
	margin: 0.2%;
}
.photo1{
	width:10em;
	height: auto;
	flex-basis: 20%;
	margin: 0.2%;
}
.photo2{
	width:10em;
	height: auto;
	flex-basis: 20%;
	margin: 0.2%;
}
.photo3{
	width:10em;
	height: auto;
	flex-basis: 20%;
	margin: 0.2%;
}