body{
	margin: 0%;
	padding: 0%;
	background: url("../media/15-Presentation-Background-Examples16.jpeg")no-repeat center fixed;
	background-size: cover;
}
/*définition des propriétés du menu */
header{
	background-color: white;
}
nav{
	width: 100%;
	background-color: #424558;
}
nav ul{
	padding: 0%;
	margin: 0%;
	overflow: hidden;
}
nav li{
	list-style-type: none;
	float: left;
}
nav li a{
	display: inline-block;
	text-decoration: none;
	padding: 20px 30px;
	color: #ffffff;
}
nav li :hover{
	border-top: 5px solid #C17243;
	background-color: rgba(193, 114, 67, 0.15) ;
}
header h1{
	font-size: 2em;
	float: right;
	text-align: right;
	margin: 0%;
	padding: 0%;
	padding-right: 1%; 
	padding-top: 1%; 
	display: inline-block;
}
.texthead{
 	font-family:Helvetica,  sans-serif;
}
.logo{
	display: inline-block;
	width: 7em;
	height:auto;
	margin: 0.5em;
	margin-bottom: 0.3em;
}
.text{
	font-family:'Roboto',sans-serif;
	color: #F0FFF0;
}
.display{
	display: flex;
	flex-wrap: wrap;
	flex-basis: 80%;
}
.ParcoursPro{
	padding: 1%;
	margin: 1%;
	box-sizing: border-box;
	background-color: #696969;
	flex-basis: 30%;
	border-radius: 1%;
	border-radius: .25rem;
	box-shadow: 0px 1px 2px 0px #313138;
}
.TextPrésantation{
	padding: 1%;
	margin: 1%;
	box-sizing: border-box;
	background-color: #708090;
	flex-basis:66%;
	border-radius: 1%;
	border-radius: .25rem;
	box-shadow: 0px 1px 2px 0px #313138;

}
.scolaire{
	padding: 1%;
	margin: 1%;
	box-sizing: border-box;
	background-color: #696969;
	flex-basis: 100%;
	border-radius: 1%;
	border-radius: .25rem;
	box-shadow: 0px 1px 2px 0px #313138;
}
.passion{
	padding: 1%;
	margin: 1%;
	box-sizing: border-box;
	background-color: #696969;
	border-radius: 1%;
	border-radius: .25rem;
	box-shadow: 0px 1px 2px 0px #313138;
	flex-basis: 49%;
}
.materiel{
	padding: 1%;
	margin: 1%;
	box-sizing: border-box;
	background-color: #708090;
	border-radius: 1%;
	border-radius: .25rem;
	box-shadow: 0px 1px 2px 0px #313138;
	flex-basis: 100%;
}
.présentation{
	background-color: #708090;
	flex-basis: 20%;
	width: 20%;
	margin-top: 1%;
	margin-bottom:1% ;
	border-radius: .25rem;
	box-shadow: 0px 1px 2px 0px #313138;
}
.présentation p {
	padding: 5%;
	color: green;
}
.présentation h1{
	padding: 5%;
	padding-bottom:0% ;
	color: green;
}
.photoMoi{
	display: block;
	width: 80%;
	margin: auto;
	margin-top: 5%;
	border-radius: 50%;
	border: 2px solid white;
	/*clip-path:ellipse(33% 50%);*/ 
}
aside article h1{
	padding: 0%;
	margin: 0%;
}
.présentation h2{
	padding: 5%;
	padding-bottom:0% ;
	margin: 0%;
	color: #F0FFF0;
	font-size: 1.1em;
}
section article p{
	padding: 1%;
	text-align: justify;
}
.page{
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	align-items: stretch;
	width: 80%;

}
.list{
	text-align: justify;
	list-style-type: none;
	padding: 5%;
	padding-top: 0%;
	margin: 0%;
}
.list a {
	text-decoration: none;
	color: #F0FFF0;
}
.display2{
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
}
.photo3{
	margin: 1%;
	border-radius: 1%;
	border-radius: .25rem;
	box-shadow: 0px 1px 2px 0px #313138;
	width: 47%;
}
.texthead h1{
	padding-bottom:0% ;
	margin-bottom: 0%;
	text-align: right;
	padding-right: 2%;
	color: white;
}
@media screen and (max-width: 1000px) {
	.display{
		display: block;
	}
	.page{
		display: block;
		width: 100%;
	}
	.présentation{
		display: block;
		width: 0%;
	}
	.photo3{
		display: block;
		width: 100%;
	}
	.passion{
		width: 100%;
		flex-basis: 100%;
	}
}